$desktopWidth: 1440px;
$desktopHeight: 900px;

$tabletWidth: 1130px;
$tabletHeight: 1024px;

$mobileWidth: 375px;
$mobileHeight: 667px;

// colors

$mainDark: #0b0d17;
$mainLight: #d0d6f9;
$white: #ffffff;

// fonts
$regularHeadingFont: "Bellefair";
$regularTextFont: "Barlow", sans-serif;
$condensedFont: "Barlow Condensed", sans-serif;

// sizes

$heading1Size: 150px;
$heading2Size: 100px;
$heading3Size: 56px;
$heading4Size: 32px;
$heading5Size: 28px;

$heading1Weight: 100;

$subheading1Size: 28px;
$subheading2Size: 14px;

$bodyTextSize: 18px;
$navTextSize: 16px;

// spacing
$heading5Spacing: 4.75px;
$subheading2Spacing: 2.35px;
$navTextSpacing: 2.7px;

@mixin tablet {
  @media (max-width: #{$tabletWidth}) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: #{$mobileWidth}) {
    @content;
  }
}
